{% extends "template.html" %}
<title>Home</title>
{% block contents %}
    <body background="static\img\fundo.png";>
        <div class="logo">
            <img src="static\img\logo.png" alt="logo">
        </div>
        <div class="fthome">
            <img src="static\img\capa.png" alt="capa">
        </div>
        <div class="hconteudo">
        <h2> Sobre a universidade </h2>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Fuga, ratione ut. Molestias voluptatum quaerat rem.
                Voluptatum accusamus, eos delectus error ab eligendi. 
                Temporibus ducimus, similique quidem tenetur quo magni possimus! </p>
        <footer> Todos os direitos reservados </footer>

    </body>
    {% endblock %}