{% extends "template.html" %}

<title>Quem somos</title>

{% block contents %}

    <body background="static\img\fundo2.png">
        <div class="logo">
            <img src="static\img\logo.png">
        </div>
        <div class="conteudo">
            <h2> Quem Somos </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                In cum, sapiente quisquam ipsa sit minima officiis quia 
                sed assumenda labore tenetur, numquam consectetur nobis 
                magnam placeat quas saepe, laudantium dolorum. </p>
            <br>
            <h2> 5 motivos para estudar </h2>
            <ol>
                <li> 1. Material sempre atualizado </li>
                <li> 2. Tablets em sala </li>
                <li> 3. Professores renomados </li>
                <li> 4. Universidade bem avaliada </li>
                <li> 5. Ótima localização </li>
            </ol>
            <hr>
            <h2> Objetivos </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestiae ad excepturi recusandae, eius fugiat quasi nihil at in dignissimos aut! 
                Saepe corporis veritatis repudiandae vel perferendis odit assumenda similique qui. </p>
        </div>
        <footer> Todos os direitos reservados </footer>
            
    </body>
    {% endblock %}